@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#151533;
    --bg:#030361c3;
    --border:.1rem solid rgba(225,225,255,.3);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

body{
    background: var(--main-color);
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo{
    font-size: 40px;
    color: #fff;
}

.header .navbar a{
    margin: 2rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons a{
    color: #fff;
    cursor: pointer;
    font-size: 4rem;
    margin-left: 2rem;
}

.header .icons a:hover{
    color:var(--main-color);
}

/* NGANH NGHE */
.product-content-items {
    position: relative;
}

.product-content-items:hover .product-content-item-text {
    width: 100%;
    height: 100%;
}

.product-content-item-text {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(139, 201, 226, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    transition: all 0.3s ease;
}
.product-content-items image{
    width:400px;
    height: 350px;
}
.product-content-item-text button {
    height: 40px;
    padding: 0 20px;
    background-color: tomato;
    border: none;
    color: white;
    border-radius: 10px;
}

.title_h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0 30px;
    position: relative;
    color: var(--black);
}

.title_h1:after {
    position: absolute;
    content: "";
    display: block;
    height: 5px;
    width: 100px;
    background-color: tomato;
    border-radius: 5px;
    left:50%;
    transform: translateX(-50%);
}

.raw {
    width: 50px;
    height: 30px;
    background: #fff;
}

.home{
    min-height: 90vh;
    display: flex;
    align-items: center;
    background:url(LAW.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 3rem;
    text-transform: uppercase;
    color:#091501ed;

}

.home .content p{
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color:#cfcfd6f0;
}

.home{
    background-position: left;
    justify-content: center;
    text-align: center;
}
.home .content h3{
    font-size: 4.5rem;

}
.home .content p{
    font-size: 1.5rem;

}
.heading{
    margin-top: 50px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

}
.heading span{
    color:var(--black);
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .content{
    flex: 1 1 45rem;
    padding:2rem ;
    
}
.about .row .content h3{
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    
}
.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;

}
.about .row .content p1{
    font-size: 2rem;
    color: tomato;
}
.about .row .content p3{
    font-size: 2.4rem;
    color:palegreen;
}

/* content anh */
.product-content-text-top p{
    font-size: 1.6rem;
}

/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
}

@media (max-width:360px){

    #menu-btn{
        display: inline-block;
    }

    .header.navbar{
        position: absolute;
        top:100%;
        right: 0;
        background: #fff;
        background: 30rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    
    }
    .home .content p{
        font-size: 1.5rem;
    
    }
}